services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_local
    ports:
      - "6333:6333" # API HTTP & Dashboard
      - "6334:6334" # API gRPC
    volumes:
      - ./qdrant_storage:/qdrant/storage:z
    restart: always
